.convenience_lover_main_section {
  max-width: 1029px;
  min-height: 334px;
  margin: 0 auto 10px;
  background: #f7f7f7;
  // padding: 0 41px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: hidden;

  @media (max-width: 1200px) {
    align-items: flex-start;
    flex-direction: column-reverse;
    // padding: 28px 16px 0 0;
    padding: 28px 0 0;
  }

  .co-img-1 {
    width: 408px;
    height: auto;
    margin-left: -100px;

    @media (max-width: 1200px) {
      width: auto;
      margin: 30px 0 0 0;
    }
    @media (max-width: 699px) {
      width: 300px;
    }
  }

  @media (max-width: 1200px) {
    .desk-co {
      display: none;
    }
  }
  .mob-co {
    @media (max-width: 699px) {
      width: 100% !important;
      padding-left: 16px;
    }
    @media (min-width: 699px) and (max-width: 1200px) {
      width: 600px !important;
      padding-left: 32px;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  .co-content {
    width: 194px;

    .co-heading {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #000000;
      margin: 0 0 8px;
    }

    .co-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin: 0;
    }
  }

  .co-section {
    width: 412px;
    @media (max-width: 699px) {
      width: 100%;
      padding: 0 16px;
    }
    @media (min-width: 699px) and (max-width: 1200px) {
      width: 100%;
      padding: 0 32px;
    }

    .co-images-box {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 32px;
      @media (max-width: 699px) {
        flex-direction: column;
      }

      @media (max-width: 1200px) {
        gap: 10px;
      }

      .mob-btn {
        @media (min-width: 699px) {
          display: none;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        gap: 8px;
        width: auto;
        height: 42px;
        background: #f15a22;
        border: none;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #ffffff;
        margin: 20px 0;
      }

      .co-l-img-1 {
        width: 85.37px;
        height: auto;
        @media (max-width: 1200px) {
          width: auto;
        }
      }
      .co-l-img-2 {
        width: 150px;
        height: auto;
        @media (max-width: 1200px) {
          width: auto;
        }
      }
    }

    .co-btn-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: #f15a22;
      margin: 0 0 11px;
      @media (max-width: 699px) {
        text-align: center;
      }

      @media (max-width: 699px) {
        padding-left: 16px;
        display: none;
      }
    }

    .co-btn-box {
      display: flex;
      align-items: center;
      gap: 12px;
      @media (max-width: 699px) {
        flex-direction: column;
        justify-content: center;
      }

      @media (min-width: 699px) and (max-width: 1200px) {
        justify-content: space-around;
      }

      .desk-btn {
        @media (max-width: 699px) {
          display: none !important;
        }
      }

      .co-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        gap: 8px;
        width: -webkit-fill-available;
        height: 42px;
        background: #f15a22;
        border: none;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: -0.01em;
        color: #ffffff;
        cursor: pointer;
        @media (min-width: 699px) and (max-width: 1200px) {
          justify-content: center;
        }
      }
    }
  }
}
