.fanatic_ab_main_section {
  max-width: 1029px;
  min-height: 334px;
  margin: 0 auto 10px;
  background: #f7f7f7;
  padding: 0 0 0 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 699px) {
    padding: 28px 0 0 16px;
  }

  @media (min-width: 699px) and (max-width: 992px) {
    padding: 28px 0 0 32px;
  }

  @media (max-width: 992px) {
    align-items: flex-start;
    flex-direction: column;
  }

  .fa-content {
    width: 240px;
    @media (max-width: 699px) {
      width: 100% !important;
      padding-right: 16px;
    }
    @media (min-width: 699px) and (max-width: 992px) {
      width: 600px !important;
      padding-right: 32px;
    }

    .fa-heading {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #000000;
      margin: 0 0 8px;
    }

    .fa-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin: 0;
    }
  }

  .fa-ab-img-box {
    display: flex;
    align-items: flex-end;
    gap: 8px;

    @media (max-width: 992px) {
      flex-direction: column;
      width: 100%;
    }
    .fa-section {
      width: 300px;
      margin-bottom: 11px;

      @media (max-width: 992px) {
        width: 100%;
      }

      .fa-images-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 32px;

        @media (max-width: 499px) {
          flex-direction: column;
          padding: 0 16px 0 0;
        }

        @media (max-width: 992px) {
          width: 100%;
          gap: 30px;
        }

        .mob-btn {
          @media (min-width: 499px) {
            display: none;
          }
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 16px;
          gap: 10px;
          width: auto;
          height: 42px;
          background: #f15a22;
          border-radius: 4px;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.01em;
          color: #ffffff;
          border: none;

          & span {
            & img {
              width: 20px;
              height: 18px;
            }
          }
        }

        .fa-b-img-1 {
          width: 85.37px;
          height: 142.6px;

          @media (max-width: 992px) {
            width: auto;
            height: auto;
          }
        }
        .fa-b-img-2 {
          width: 74.26px;
          height: 124.04px;
          @media (max-width: 992px) {
            width: auto;
            height: auto;
          }
        }
      }

      .fa-btn-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.01em;
        color: #f15a22;
        margin: 0 0 9px;
        @media (max-width: 499px) {
          text-align: center;
        }

        @media (max-width: 699px) {
          padding-left: 16px;
          display: none;
        }
        @media (min-width: 699px) and (max-width: 992px) {
          padding-left: 32px;
        }
      }
      .fa-btn-box {
        display: flex;
        align-items: center;
        gap: 12px;
        justify-content: space-around;

        @media (max-width: 499px) {
          justify-content: center;
        }

        @media (max-width: 699px) {
          width: 100%;
          padding-right: 16px;
        }
        @media (min-width: 699px) and (max-width: 992px) {
          width: 100%;
          padding-right: 32px;
        }

        .desk-btn {
          @media (max-width: 499px) {
            display: none !important;
          }
        }

        .fa-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 16px;
          gap: 10px;
          width: -webkit-fill-available;
          height: 42px;
          background: #f15a22;
          border-radius: 4px;
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.01em;
          color: #ffffff;
          border: none;
          cursor: pointer;

          & span {
            & img {
              width: 20px;
              height: 18px;
            }
          }

          @media (max-width: 499px) {
            width: auto;
          }
        }
      }
    }

    .fa-img-1 {
      width: 325px;
      height: auto;

      @media (max-width: 992px) {
        width: auto;
        height: auto;
      }
    }
  }
}
