.performance_fan_main_section {
  max-width: 1029px;
  margin: 0 auto;
  min-height: 334px;
  display: flex;
  align-items: center;
  gap: 31px;
  background: #f7f7f7;
  // padding: 0 51px 0 0;
  margin-bottom: 10px;

  @media (max-width: 1200px) {
    align-items: flex-start;
    flex-direction: column-reverse;
    // padding: 28px 16px 0 0;
    padding: 28px 0 0;
  }

  .p-f-img-1 {
    width: 303px;
    height: auto;
    margin-top: 18px;
    @media (max-width: 1200px) {
      width: auto;
    }
  }
  @media (max-width: 1200px) {
    .desk-vac {
      display: none;
    }
  }
  .mob-vac {
    @media (max-width: 699px) {
      width: 100% !important;
      padding-left: 16px;
    }
    @media (min-width: 699px) and (max-width: 1200px) {
      width: 600px !important;
      padding-left: 32px;
    }

    @media (min-width: 1200px) {
      display: none;
    }
  }

  .p-f-content {
    width: 263px;
    @media (min-width: 1200px) {
      padding-left: 16px;
    }

    .p-f-heading {
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      letter-spacing: -0.02em;
      color: #000000;
      margin: 0 0 8px;
    }
    .p-f-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin: 0;
    }
  }

  .vacuum-section {
    margin-left: auto;
    @media (max-width: 1200px) {
      margin: auto;
      padding: 0 16px;
    }
    .vacuum-img {
      width: 251px;
      height: auto;
      margin-bottom: 48px;

      @media (max-width: 1200px) {
        width: auto;
      }
    }

    .vacuum-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 16px;
      gap: 10px;
      width: auto;
      height: auto;
      background: #f15a22;
      border-radius: 4px;
      text-align: left;
      cursor: pointer;
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: #ffffff;
      border: none;

      @media (max-width: 1200px) {
        margin: auto;
      }
    }
  }
}
